.container{
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    overflow-y: auto;
    overflow-x: hidden;
}
.constructorStyle{
    display: grid;
    grid-template-rows: calc(100vh - 180px) min-content ;
}
.containerWrapper{
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: 8px;
}
.submit{
    display: flex;
    flex-direction: row-reverse;
}
.currency{
    display: flex;
    align-items: center;
}