.ingredientWrapper *{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingredientWrapper{
    padding: 10px;
    position: relative;
}
.title{
    text-align: center;
}
.draggIngredient{
    background: #4c4cff;
    border-radius: 1rem;
}